<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956741172167-719olaquouunt0ha6kf2t6fla8bgs5mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956741172167-719olaquouunt0ha6kf2t6fla8bgs5mt</string>
	<key>API_KEY</key>
	<string>AIzaSyBdFwclyaTJA2SQfImtThMlGWkfNa__e-c</string>
	<key>GCM_SENDER_ID</key>
	<string>956741172167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.weightTracker</string>
	<key>PROJECT_ID</key>
	<string>weight-tracker-a6bff</string>
	<key>STORAGE_BUCKET</key>
	<string>weight-tracker-a6bff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956741172167:ios:08326731ac3d7f6f86f7e2</string>
</dict>
</plist>